@model TenantLoginVm
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Sign in";
    ViewData["Brand"] = $"Appsdemo · {(Model.TenantCode ?? "")}";
}
<form method="post" action="/auth/login" class="card card-md" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="card-body">
        <h2 class="h2 text-center mb-4">Sign in</h2>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                { <div>@err.ErrorMessage</div> }
            </div>
        }

        <div class="mb-3">
            <label class="form-label">Email or username</label>
            <input type="text" name="EmailOrUsername" value="@Model.EmailOrUsername" class="form-control" required autofocus/>
        </div>
        <div class="mb-2">
            <label class="form-label">Password</label>
            <input type="password" name="Password" class="form-control" required/>
        </div>
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100"><i class="ti ti-login-2 me-1"></i>Sign in</button>
        </div>
    </div>
</form>
